<%- include('./partials/header.ejs') %>
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Home slider-->
    	<div class="slideshow slideshow-wrapper pb-section">
        	<div class="home-slideshow">
            	<div class="slide">
                	<div class="blur-up lazyload">
                        <img class="blur-up lazyload" data-src="/assets/images/slideshow-banners/banner1.jpg" src="/assets/images/slideshow-banners/banner1.jpg" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic middle">
                            <div class="slideshow__text-content middle">
                            	<div class="container">
                                    <div class="wrap-caption right">
                                        <h2 class="h1 mega-title slideshow__title">Our New Collection</h2>
                                        <span class="mega-subtitle slideshow__subtitle">Save up to 50% Off</span>
                                        <span class="btn">Shop now</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                	<div class="blur-up lazyload">
                        <img class="blur-up lazyload" data-src="/assets/images/slideshow-banners/home2-default-banner2.jpg" src="/assets/images/slideshow-banners/home2-default-banner2.jpg" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic middle">
                            <div class="slideshow__text-content middle">
                            	<div class="container">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Home slider-->
        
    </div>
    <!--End Body Content-->
    
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>

      <div class="container my-4"></div>
        <h1 class="text-center mb-5">New Arrivals</h1>

        <!-- Product Grid -->
        <div class="row container-fluid pb-4">
            <% products.forEach((product)=> { %>
                <a href="/user/products/<%= product._id %>" style="text-align: none;">
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <!-- Product Image -->
                            <img src="/uploads/product-images/<%= product.images[0] %>" class="card-img-top" alt="<%= product.productName %>">
                            
                            <!-- Product Details -->
                            <div  class="card-body">
                                <h5 class="card-title"><%= product.productName %></h5>
                                <p>Sizes Available: <%= product.sizes.join(', ') %></p>
                                <p class="card-text">Price: ₹<%= product.salesPrice %> <del>₹<%= product.regularPrice %></del></p>
                                <p class="card-text">Category: <%= product.category.name %></p>

                                <a href="/user/products/<%= product._id %>" class="btn btn-primary mt-3">View Product</a>
                            </div>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>





    
    

<%- include('./partials/footer.ejs') %>