<%- include('./partials/header.ejs') %>
<form action="/admin/product/edit/<%= product._id %>" method="post">
    <div class="row d-flex ml-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <label for="product_name" class="form-label">Product Name</label>
                <input type="text" placeholder="Type here" name="productName" class="form-control border" id="product_name" value="<%= product.productName %>">
                <div id="productName-error" class="error-message"></div>
             </div>
             <div class="mb-4">
                <label class="form-label">Full description</label>
                <textarea placeholder="Type here" id="descriptionid" name="description" class="form-control border" rows="4"><%= product.description %></textarea>
                <div id="description-error" class="error-message"></div>
             </div>
             <div class="row">
                <div class="col-lg-4">
                   <div class="mb-4">
                      <label class="form-label">Regular price</label>
                      <input placeholder="$" name="regularPrice" type="text" class="form-control border" value="<%= product.regularPrice %>">
                      <div id="regularPrice-error" class="error-message"></div>
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="mb-4">
                      <label class="form-label">Sale price</label>
                      <input placeholder="$" name="salesPrice" type="text" class="form-control border" value="<%= product.salesPrice %>">
                   </div>
                   <div id="salePrice-error" class="error-message"></div>
                </div>
                <div class="col-lg-4">
                   <div class="mb-4">
                      <label class="form-label">Quantity</label>
                      <input placeholder="" name="quantity" type="number" class="form-control border" value="<%= product.quantity %>">
                      <div id="quantity-error" class="error-message"></div>
                   </div>
                </div>
             </div>
             <div class="card mb-4">
                <div class="card-body">
                   <div class="row gx-2">
                      <div class="col-sm-6 mb-3">
                         <label class="form-label">Category</label>
                         <select class="form-select border" style="width: 150px;" name="category">
                            <% if (category.length > 0) { %>
                           <% category.forEach(cat => { %>
                               <option value="<%= cat._id %>">
                                   <%= cat.name %>
                               </option>
                           <% }) %>
                           <% } %>
                         </select>
                         <div id="category-error" class="error-message"></div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label for="sizes">Sizes (Separate with commas, e.g., S, M, L):</label>
                      <input type="text" name="sizes" class="form-control" placeholder="S, M, L, XL" value="<%= product.sizes %>">
                  </div>
                  <button type="submit" class="btn btn-primary mt-5">Update</button>
                </div>
             </div>
        </div>
    </div>
</form>

<%- include('./partials/footer.ejs') %>
