<%- include('./partials/header.ejs') %>
    <main class="ml-5">
        <% if (message.success) { %>
            <h2 class="alert alert-success"><%= message.success %></h2>
        <% } %>
        <% if (message.error) { %>
            <h2 class="alert alert-danger"><%= message.error %></h2>
        <% } %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List</h2>
                </div>
            </div>

            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-6 col-md-6 me-auto">
                            <input type="text" placeholder="Search by Name or Email..." class="form-control" id="searchUser" oninput="searchFilter()">
                        </div>
                        <div class="col-lg-6 col-md-3">
                            <select class="form-select" id="statusFilter" onchange="sortByStatus()">
                                <option value="Default">Default</option>
                                <option value="Pending">Pending</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Delivered">Delivered</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                        </div>
                    </div>
                </header>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="ordersTableBody">
                                <!-- Loop through orders data -->
                                <% orders.forEach(function(order) { %>
                                <tr class="orders" data-status="<%=order.status%>" data-name="<%=order.userId.username%>" data-email="<%=order.userId.email%>">
                                    <td>#<%= order._id %></td>
                                    <td><%= order.userId.username %></td>
                                    <td><%= order.userId.email %></td>
                                    <td>₹<%= order.totalAmount %></td>
                                    <td>
                                        <span class="badge rounded-pill 
                                            <%= order.status === 'Pending' ? 'alert-warning' : 
                                                order.status === 'Shipped' ? 'alert-info' : 
                                                order.status === 'Delivered' ? 'alert-success' : 
                                                'alert-danger' %>">
                                            <%= order.status%>
                                        </span>
                                    </td>
                                    <td><%= new Date(order.createdAt).toLocaleDateString() %></td>
                                    <td class="text-end">
                                        <a href="/admin/orders/<%= order._id %>" class="btn btn-md rounded font-sm">View</a>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <!-- pagination -->
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>

    <script>
       function sortByStatus(){
            const orders = document.querySelectorAll(".orders");
            const statusFilter = document.getElementById('statusFilter').value;

            orders.forEach((item)=> {
                if(statusFilter == 'Default'){
                    item.classList.remove('d-none');
                }else {
                    if(statusFilter == item.dataset.status){
                        item.classList.remove('d-none');
                    }else{
                        item.classList.add('d-none');
                    }
                }
            })
       }

       function searchFilter(){
            const searchValue = document.getElementById('searchUser').value.toLowerCase()
            const orders = document.querySelectorAll('.orders');
            console.log(orders , searchValue);
            
            orders.forEach((item)=> {
                if(item.dataset.name.toLowerCase().includes(searchValue) || item.dataset.email.toLowerCase().includes(searchValue)){
                    item.classList.remove('d-none');
                }else{
                    item.classList.add('d-none');
                }
            })
       }
    </script>


<%- include('./partials/footer.ejs') %>