<%- include('./partials/header.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Seller</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(user => { %>
                                    <tr>
                                        <td><%= user.username %></td>
                                        <td><%= user.email %></td>
                                        <td><%= user.phone %></td>
                                        <td class="text-end">
                                            <% if (user.isBlocked) { %>
                                                <a onclick="unblockUser('<%= user._id %>')" 
                                                   class="btn btn-sm rounded font-sm mt-15 btn-warning">
                                                    UnBlock
                                                </a>
                                            <% } else { %>
                                                <a onclick="blockUser('<%= user._id %>')" 
                                                   class="btn btn-sm rounded font-sm mt-15 btn-danger">
                                                    Block
                                                </a>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table> 
                        <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                            <% } %>
                        </ul> 
                    </nav>                  
            </div>
        </section> <!-- content-main end// -->
        


<script>
    function unblockUser(user){
        console.log(user);
        const userId = user;
        $.ajax({
            url : "/admin/user/unblock",
            type : 'POST',
            data : JSON.stringify({
                userId : userId,
            }),
            contentType : "application/json",
            success : function success(response){
                if(response.success){
                    const btn = $(`[onclick="unblockUser('${userId}')"]`);
                    btn.removeClass('btn-warning').addClass('btn-danger');
                    btn.text("Bock");
                    btn.attr("onclick",`blockUser('${userId}')`);
                    Swal.fire({
                    toast : true,
                    position : "top-end",
                    title : "user unblocked",
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: true,
                    background : "green",
                    color : "white",
                    });
                }else{
                    Swal.fire({
                    toast : true,
                    position : "top-end",
                    title : "error while unblocking user , please try again later",
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: true,
                    });
                }
            }
        })
    }

    function blockUser(user){
        console.log(user);
        const userId = user;
        $.ajax({
            url : "/admin/user/block",
            type : 'POST',
            data : JSON.stringify({
                userId : userId,
            }),
            contentType : "application/json",
            success : function success(response){
                if(response.success){
                    const btn = $(`[onclick="blockUser('${userId}')"]`);
                    btn.removeClass('btn-danger').addClass('btn-warning');
                    btn.text("un-Block");
                    btn.attr('onclick',`unblockUser('${userId}')`);
                    Swal.fire({
                    toast : true,
                    position : "top-end",
                    title : "user blocked",
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: true,
                    background : "red",
                    color : "white",
                    });
                }else{
                    Swal.fire({
                    toast : true,
                    icon : "error",
                    position : "top-end",
                    title : "error while unblocking user , please try again later",
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: true,
                    });
                }
            }
        })
    }

</script>

<%- include('./partials/footer.ejs') %>