<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- j query -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- toastify css -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style>
        .order-header { background-color: #f8e6b2; padding: 10px; }
        .order-summary, .items { background-color: #f7f1f1; padding: 15px; }
        .cancel-btn { background-color: red; color: white; }
        .invoice-btn { background-color: black; color: white; }
        .product-img {
            height: 100px;
        }
        .alert-success {
            background-color: rgb(6, 161, 6);
        }
        .alert-warning {
            background-color: rgb(161, 89, 6);
        }
        .alert-info {
            background-color: rgb(192, 192, 35);
        }
        .alert-danger {
            background-color: rgb(161, 6, 6);
        }
        .alert-processing {
            background-color: rgb(226, 215, 7);
        }
    </style>
</head>
<body>
    
    <div class="container mt-4">
        <div class="order-header text-center">
            <h2>ORDER DETAILS</h2>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 order-summary">
                <h5>Order Summary</h5>
                <p><strong>ID:</strong> #<%= order._id %></p>
                <p><strong>Order Date:</strong> 
                    <%= new Date(order.createdAt).toLocaleDateString('en-IN', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
                </p>
                <p><strong>Delivered Date:</strong> <%= order.deliveredDate ? order.deliveredDate.toDateString() : 'Not Dellivered' %></p>
                <p><strong>Status:</strong>
                    <span class=" badge rounded-pill 
                        <%= order.status === 'Pending' ? 'alert-warning' : 
                            order.status === 'Shipped' ? 'alert-success' : 
                            order.status === 'Delivered' ? 'alert-success' : 
                            order.status === 'Processing' ? 'alert-processing' : 
                            'alert-danger' %>">
                        <%= order.status%>
                    </span>
                </p>
                <p><strong>Payment Method:</strong> <%= order.paymentMethod %></p>
            </div>
            <div class="col-md-6">
                    <h5>Delivery Address</h5>
                    <p><strong>Name:</strong> <%= user.username %></p>
                    <p><strong>Email:</strong> <%= user.email %></p>
                    <p><strong>Address:</strong> <%= address.house %> , <%= address.street %>, <%= address.city %>, <%= address.state %>, <%= address.pincode %></p>
                    <p><strong>Phone:</strong> <%= address.phone %></p>
            </div>
        </div>

        <div class="row mt-4 text-end">
            <div class="col-md-12">
                <button class="btn invoice-btn">Download Invoice</button>
                <% if (order.status !== 'Cancelled' && order.status !== 'Delivered') { %>
                    <button class="btn cancel-btn" onclick="cancelOrder('<%= order._id %>')">Cancel Order</button>
                <% } %>
            </div>
        </div>

        <div class="items mt-4">
            <h5>Items Ordered</h5>
            <table class="table text-start">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(item => { %>
                        <tr>
                            <td><img class="product-img" src="/uploads/product-images/<%= item.productId.images[0]%>" alt=""></td>
                            <td><%= item.productId.productName %>  (<%= item.size %>)</td>
                            <td>&#x20B9; <%= item.price%></td>
                            <td><%= item.quantity %></td>
                            <td>&#x20B9; <%= item.quantity * item.price %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="text-end">
                <h5>Total: &#x20B9; <%= order.totalAmount %></h5>
            </div>
        </div>
    </div>

    <!-- toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        function cancelOrder(orderId) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Cancel Order"
            }).then((result)=> {
                if(result.isConfirmed){
                    $.ajax({
                        url : "/user/cancel_order",
                        type : 'PUT',
                        data : JSON.stringify({
                            id : orderId,
                        }),
                        contentType : "application/json",
                        success : function(res){
                            if(res.success){
                                location.reload();
                            }else{
                                Toastify({
                                    text: "order doesn't exists.",
                                    duration: 3000,
                                    gravity: "top",
                                    position: "center",
                                    backgroundColor: "red",
                                }).showToast();
                            }
                        }
                    })
                }
            })
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
